.app-list-item {
  /* border-bottom: 1px solid #ededed;
  font-size: 24px;
  position: relative;
  padding: 15px;
  border-bottom: 1px solid #484848;
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate; */
  border-bottom: 1px solid #ededed;
  font-size: 24px;
  position: relative;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}
